@model HereAndThere.Models.Match

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to End this Match? </h3>
<div>
    <h4>Match</h4>
    <hr />
    @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
    {
        <div class="alert alert-info">
            <strong>@ViewBag.StatusMessage!</strong>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matchType.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchType.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedTimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedTimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
          
            @Html.ActionLink("Back to List", "Index")  |
            <input type="submit" value="End Match" class="btn btn-default"/>
        </div>
    }
</div>
